#banner img{
    left:50%;
    margin-left:-361px; /* metade da largura fictícia */
    position:relative;
    width: 724px;
    top: -15px;
    bottom: 0px;
    border: 0px;

}

div.central{
    /*margin: 0px;*/
    font-size: 12px ;
    font: 12px 'Lucida Grande', Arial, sans-serif;
    position:relative;
    top: 0px;
    bottom: 0px;
    left: 360px;
    width: 705px;
}
body {
    margin:0px;
    /*    position: static;*/
    background: url("../imagem/max.png") no-repeat fixed;
    background-color: #D6D6D6;
}
fieldset{
    position: relative;
    background-color: #EEE;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    left: 13%; 
    margin-bottom: 10px;

}
fieldset.img{
    padding: 70px;
}
div{
    padding: 7px;
}

/* ajustei para que a div fique centralizada */
div.botoes{
    border-radius: 4px;
    padding: 6px 12px;
    text-align: center;
}

/* acrescentei a coloração para cada botão */
.botoespadrao{
    background-color: #6383A8;
    border-color: #6383A8;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 50px
}

.botoesazul{
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 50px
}

.botoesvermelho{
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 50px
}

.botoeslaranja{
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 50px
}


#cadastroUsuario input.cadastro,#acessorio input.acessorio,#console input.console,#jogo input.jogo{
    position:absolute;
    left: 150px;
    width:220px;
}

#consolebox,#perfil{
    position:absolute;
    left: 150px;
}

#descricao,login{
    position:relative;
    left: 132px;
}

#menu ul {
    padding:0px;
    border-radius: 5px;
    margin:0px;
    background-color:#404040;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {

    border-radius: 5px;
    padding:12px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#404040;
    color: white;
    text-decoration: none;
    /*    border-bottom:4px solid black;*/
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    /*    border-bottom:3px solid ;*/
}

